.vscode/**
.vscode-test/**
src/**
server/src/**
examples/**
tsconfig.json
server/tsconfig.json
**/*.ts
**/*.map
.gitignore
.gitattributes
yarn.lock
package-lock.json
**/*.vsix
node_modules/.bin/**
.eslintrc.json
.prettierrc
*.log
.DS_Store
.vscode/
server/.vscode/